


        <div class='header'>
            <br><br>
            <h2>Public School</h2>

        </div>

        <div class="login-container">

            <!-- <h4>Login</h4>
            <form action="" [formGroup]="loginForm">
            <label>User Name:</label>
            <input class='form-control' formControlName='userName' title='User Name' placeholder='User Name' required>
            <br/><br/>
            <label>Password:</label>
            <input class='form-control' formControlName='password' title='Password' placeholder='Password'>
            <br/><br/>
            <input type='button' value='login'/>
            <br/><br/>
        </form> -->

        <form class="login-form" [formGroup]="loginForm">
                <mat-form-field class="loginss-full-width">
                  <input matInput  class='form-control' formControlName='userName' placeholder='User Name' required>
                  <mat-error *ngIf="userName.hasError('required')">
                   User Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                 </mat-form-field>
                    
        </form>

        </div>

        <div class='footer'>

            

        </div>

