<html>
    <head></head>
    <body  >
    

            <mat-toolbar color="" style=" background-color: transparent;">
                <mat-toolbar-row>
                    <span>Aye Solutions</span>

                    <span class="example-spacer"></span>
                    <button mat-button>Login</button>
                    <button mat-button>About</button>
                    <button mat-button>Contact</button>
                </mat-toolbar-row>
            </mat-toolbar>


            

    </body>
</html>
